#HORNAV ul {
	position: fixed;
	top: 5px;
	left: 5px;
  list-style-type: none;
  margin-left: 200px;
  margin-right: 200px;
  padding: 0;
  overflow: hidden;
  background-color: #e7ddb3;
}
#HORNAV li { float: left; }
#HORNAV li a {
  display: block;
  color: #282828;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
#HORNAV li a:hover  { background-color: #d3c99f; }
#HORNAV li a:home   { background-color: #b1c798; }
#HORNAV li a:select { background-color: #d3c99f; }
