main {
	margin: 100px;
}
html,
body {
	background-color: #fdfcfb;
	color: #040817;
	min-height: 100%;
	min-width: 600px;
	font-family: "Century Schoolbook Monospace", serif;
	font-size: 25px;
}
html {
	margin: 100px;
}
body {
	counter-reset: heading;
	line-height: 1.25;
	margin-left: auto;
	margin-right: auto;
	padding: 20px 20px;
}

hr {
	border: 0;
	height: 5px;
	background-image: linear-gradient(to right, rgba(253, 252, 251, 0), rgba(177, 180, 202, 0.75), rgba(253, 252, 251, 0));
}

code,
pre {
	font-family: "CMU Typewriter Text", monospace;
}
code {
	padding: .1em;
	font-size: 1rem;
	color: #353a58;
	background-color: #b1b4ca;
	border-radius: 5px;
}
pre {
	display: block;
	margin-top: 0;
	margin-bottom: 1rem;
	padding: 1rem;
	font-size: 1rem;
	line-height: 1.4;
	white-space: pre;
	white-space: pre-wrap;
	word-break: break-all;
	word-wrap: break-word;
	background-color: #b1b4ca;
}
pre code {
	padding: 0;
	font-size: 1rem;
	color: inherit;
	background-color: transparent;
}
.highlight {
	margin-bottom: 1rem;
	border-radius: 4px;
}
.highlight pre {
	margin-bottom: 0;
}
a,
a:visited {
	color: #666C99;
}
a:hover,
a:focus,
a:active {
	color: #7B87A5;
}
.retro-no-decoration {
	text-decoration: none;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 600px) {
	body {width: 95%; margin: 0; font-size: 18px;}
	html {width: 95%; margin: 0;}
}

p, .retro-p { font-size: 1rem; margin-bottom: 1.3rem; }
h1, .retro-h1, h2, .retro-h2, h3, .retro-h3, h4, .retro-h4 {
	margin: 1.414rem 0 .5rem;
	font-weight: inherit;
	line-height: 1.42;
}
h1, .retro-h1 {
	margin-top: 0;
	font-size: 2rem;
	font-weight: bold;
	text-align: center;
	counter-reset: subheading;
}
h1:before {
	content: counter(heading)". ";
	counter-increment: heading;
}
h2, .retro-h2 { font-size: 1.5rem; font-weight: bold; }
h2:before {
	content: counter(heading)"." counter(subheading)". ";
	counter-increment: subheading;
}
h3, .retro-h3 { font-size: 1.25rem; font-weight: bold; font-style: italic; }
h4, .retro-h4 { font-size: 1.12rem; font-style: italic; }
h5, .retro-h5 { font-size: 1.06rem; font-style: italic; }
h6, .retro-h6 { font-size: 1.03rem; }

small,
.retro-small {
	font-size: .6rem;
}
.title {
	counter-reset: heading;
	font-size: 3rem;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	line-height: 0.8;
}
.title:before {
	content: "";
}
.subtitle {
	font-variant: small-caps;
	font-size: 2rem;
	font-weight: bold;
	text-align: center;
	line-height: 0.8;
}
.author {
	font-size: 1rem;
	text-align: center;
	line-height: 0.8;
}
.date {
	font-size: 1rem;
	text-align: center;
	line-height: 0.8;
}

img,
canvas,
iframe,
video,
svg,
select,
textarea {
	max-width: 100%;
}

pre {
	background-color: #5e72bd;
	color: #040817;
}

blockquote {
	padding-left:   0.8rem;
	padding-top:    0.4rem;
	padding-right:  0.8rem;
	padding-bottom: 0.8rem;
	margin: 0.2rem;
	color: #2c303f;
	background-color: #e9e8e7;
	border: 1px solid #d5d4d3;
	font-family: "Lucida Handwriting", cursive;
	font-size: 1.02rem;
	font-weight: bold;
}
blockquote p:last-child {
	margin-bottom: 0;
}

@media (min-width: 30em) {
	blockquote {
		padding-right: 5rem;
		padding-left: 1.25rem;
	}
}

img {
	display: block;
	margin: 0 0 1rem;
	border-radius: 5px;
	max-width: 100%;
}

table {
	margin-bottom: 1rem;
	width: 100%;
	border: 1px solid #040817;
	border-style: inset;
	border-collapse: collapse;
	background-color: #e9e8e7;
	font-family: "monospace";
}
td,
th {
	padding: .25rem .5rem;
	border: 1px solid #040817;
}
tbody tr:nth-child(odd) td,
tbody tr:nth-child(odd) th {
	background-color: #d5d4d3;
}

