#TOC {
	position: fixed;
	top: 2.4rem;
	left: 0;
	height: auto;
	width: 250px;
	background-color: #c8e0d0;
  list-style-type: none;
	font-family: "Lucida Sans", sans-serif;
	font-style: italic;
	font-size: 0.9rem;
	padding: 0;
	margin: 0;
	transition: left 0.3s; /* for autohide */
}
#TOC ul {
//	list-style: decimal inside;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
#TOC ul { text-align: right; }
#TOC li a {
	display: inline-block;
	color: #156667;
	padding: 8px;
	text-decoration: none;
}
#TOC li a:hover { color: #93cbbd; }
#TOC li a:active { background-color: #24928c; }
#TOC ul li:hover ul {display: block;}
#TOC ul li ul {
	position: absolute;
	margin-top: -44px;
	background: #e3ebda;
	left: 250px;
	display: none;
	max-height: 50%;
	overflow: auto;
}
#TOC ul li ul li { background: #e3ebda; display: block; }
#TOC ul li ul li a {
	font-size: 0.9rem;
	font-weight: normal;
	text-align: left;
	display:block !important;
	left: 250px;
	width: 500px;
}

