hr {
	border: 0;
	height: 5px;
	background-image: linear-gradient(to right, rgba(%%bg0RGB%%, 0), rgba(%%acbRGB%%, 0.75), rgba(%%bg0RGB%%, 0));
}

code,
pre {
	font-family: "CMU Typewriter Text", Monaco, "Courier New", monospace;
}
code {
	padding: .1em;
	font-size: 20px;
	color: %%acf%%;
	background-color: %%acb%%;
	border-radius: 5px;
}
pre {
	display: block;
	margin-top: 0;
	margin-bottom: 1rem;
	padding: 1rem;
	font-size: 20px;
	line-height: 1.4;
	white-space: pre;
	white-space: pre-wrap;
	word-break: break-all;
	word-wrap: break-word;
	background-color: %%acb%%;
}
pre code {
	padding: 0;
	font-size: 20px;
	color: inherit;
	background-color: transparent;
}
.highlight {
	margin-bottom: 1rem;
	border-radius: 4px;
}
.highlight pre {
	margin-bottom: 0;
}
@media print {
	*,
	*:before,
	*:after {
		background: transparent !important;
		color: %%bg0%% !important;
		box-shadow: none !important;
		text-shadow: none !important;
	}
	a,
	a:visited {
		text-decoration: underline;
	}
	a[href]:after {
		content: " (" attr(href) ")";
	}
	abbr[title]:after {
		content: " (" attr(title) ")";
	}
	a[href^="#"]:after,
	a[href^="javascript:"]:after {
		content: "";
	}
	pre,
	blockquote {
		border: 1px solid %%acb%%;
		page-break-inside: avoid;
	}
	thead {
		display: table-header-group;
	}
	tr,
	img {
		page-break-inside: avoid;
	}
	img {
		max-width: 100% !important;
	}
	p,
	h2,
	h3 {
		orphans: 3;
		widows: 3;
	}
	h2,
	h3 {
		page-break-after: avoid;
	}
}
a,
a:visited {
	color: %%acc%%;
}
a:hover,
a:focus,
a:active {
	color: %%gnt%%;
}
.retro-no-decoration {
	text-decoration: none;
}
html {
	font-size: 17px;
}
/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
	#TOC { top: 0; width: 100%; height: auto; left: 0;}
	#TOC ul li a {float: left;}
	body {min-width: 100%; margin-left: 0;}
}
/* On screens that are less than 400px, display the bar vertically, instead of horizontally
@media screen and (max-width: 400px) {
	#TOC li a { text-align: center; float: none; }
}
*/
body { line-height: 1.85; }
p, .retro-p { font-size: 12px; margin-bottom: 1.3rem; }
h1, .retro-h1, h2, .retro-h2, h3, .retro-h3, h4, .retro-h4 {
	margin: 1.414rem 0 .5rem;
	font-weight: inherit;
	line-height: 1.42;
}
h1, .retro-h1 {
	margin-top: 0;
	font-size: 50px;
	font-weight: bold;
	text-align: center;
	counter-reset: subheading;
}
h1:before {
	content: counter(heading)". ";
	counter-increment: heading;
}
h2, .retro-h2 { font-size: 30px; font-weight: bold; }
h2:before {
	content: counter(heading)"." counter(subheading)". ";
	counter-increment: subheading;
}
h3, .retro-h3 { font-size: 15px; font-weight: bold; font-style: italic; }
h4, .retro-h4 { font-size: 7px; font-style: italic; }
h5, .retro-h5 { font-size: 4px; font-style: italic; }
h6, .retro-h6 { font-size: 2px; }

small,
.retro-small {
	font-size: 5px;
}
.title {
	counter-reset: heading;
	font-size: 80px;
	font-weight: bold;
	text-align: center;
}
.title:before {
	content: "";
}
.subtitle {
	font-size: 40px;
	font-weight: bold;
	text-align: center;
}
.author {
	font-size: 20px;
	font-style: italic;
	text-align: center;
}
.date {
	font-size: 20px;
	text-align: center;
}
img,
canvas,
iframe,
video,
svg,
select,
textarea {
	max-width: 100%;
}
main {
	margin: 100px;
	font-size: 25px;
}
html,
body {
	background-color: %%bg0%%;
	min-height: 100%;
	min-width: 400px;
}
html {
	margin: 100px;
	font-size: 25px;
}

body {
	counter-reset: heading;
	color: %%fg0%%;
	font-family: Garamond, "CMU Serif", "Times New Roman", serif;
	font-size: 25px;
	line-height: 1.45;
	margin-left: 100px;
	margin-right: 100px;
	padding: 20px 20px;
}
pre {
	background-color: %%ylw%%;
	color: %%bg0%%;
}
blockquote {
	padding: .5rem 1rem;
	margin: .8rem 0;
	color: %%fg2%%;
	border-left: .25rem solid %%acb%%;
}
blockquote p:last-child {
	margin-bottom: 0;
}
@media (min-width: 30em) {
	blockquote {
		padding-right: 5rem;
		padding-left: 1.25rem;
	}
}
img {
	display: block;
	margin: 0 0 1rem;
	border-radius: 5px;
	max-width: 100%;
}
table {
	margin-bottom: 1rem;
	width: 100%;
	border: 1px solid %%fg0%%;
	border-collapse: collapse;
}
td,
th {
	padding: .25rem .5rem;
	border: 1px solid %%fg0%%;
}
tbody tr:nth-child(odd) td,
tbody tr:nth-child(odd) th {
	background-color: %%acb%%;
}

/*
 * input[type=checkbox] {
 *   position: relative;
 *   cursor: pointer;
 * }
 * input[type=checkbox]:before {
 * 	content: "";
 * 	display: block;
 * 	position: absolute;
 * 	width: 16px;
 * 	height: 16px;
 * 	top: 0;
 * 	left: 0;
 * 	border: 2px solid %%ac88b%%;
 * 	border-radius: 3px;
 * 	background-color: %%ac88b%%;
 * }
 * input[type=checkbox]:checked:after {
 * 	content: "";
 * 	display: block;
 * 	position: absolute;
 * 	width: 7px;
 * 	height: 7px;
 * 	top: 5px;
 * 	left: 5px;
 * 	border: 2px solid %%acb%%;
 * 	border-radius: 3px;
 * 	background-color: %%acb%%;
 * }
 */
