#HORNAV ul {
	position: fixed;
	top: 0;
	left: 0;
  list-style-type: none;
	font-family: sans-serif;
	font-size: 1.0rem;
  padding: 0;
  overflow: hidden;
  background-color: #363636;
}
#HORNAV li { float: left; }
#HORNAV li a {
  display: block;
  color: #ececec;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
#HORNAV li a:hover  { background-color: #333333; }
#home   { background-color: #333333; }
#select { background-color: #4a4a4a; }
