#HORNAV ul {
	position: fixed;
	top: 0;
	left: 0;
  list-style-type: none;
	font-family: "Lucida Sans", sans-serif;
	font-size: 1.0rem;
	font-style: italic;
	font-weight: bold;
	margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #745b4e;
}
#HORNAV li { float: left; }
#HORNAV li a {
  display: block;
  color: #fcfcfb;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
#HORNAV li a:hover  { background-color: #81886b; }
#home   { background-color: #81886b; }
#select { background-color: #886f62; }
